/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

/* commentaire */

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: auto
  ;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
  margin-left: 1Opx;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

header {
  display: flex;
}

nav {
  margin-left: auto;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
nav li {
  border-top: 2px solid transparent;
  margin-right: 30px;
}

nav li:hover {
  border-top: 2px solid #0065fc;
}

nav a {
  border-top: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav a:hover {
  color: #0065fc;
}

.logo {
  width: 50%;
  height: 50%;
  margin: 30px 10px 10px 0px;
}
#recherche {
  border: none;
  font-weight: bold;
  padding: 0 10px;
  border: 1px solid #f2f2f2;
}

.bouttonrecherche button{
height: 45px;}

.searchbar {
  display: flex;
  width: min-content;
  align-items: stretch;
  border-radius: 10px;
  overflow: hidden;
  height: 45px;
}

.searchbar button {
  background-color: #0065fc;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0 20px;
  font-weight: bold;
}

.button-magnifying-glass {
  display: none;
}

#localisation {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.filtres {
  display: flex;
  margin: 20px 0px;
  align-items: center;
}

.filtres h2 {
  margin-right: 20px;
  font-size: 125%;
}

.filtres button {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  font: inherit;
  font-weight: bold;
  background-color: transparent;
  padding: 12px 23px;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 110%;
}


.filtres button:hover {
    background-color: #deebff;
    /* Changement de curseur potentiel. Incompréhension de la consigne

  cursor: url("images/logo/cursor.png"), auto;

  */
}

.filtres i {
  margin-right: 5px;
}

.infodispo {
  margin: 40px 0px 30px 0px;
}

#logoinfo {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 7px;
  justify-content: center;
}

.afficherplus {
  margin-left: 10px;
  margin-top: 20px;
  width: fit-content;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px 30px 10px 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergement-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergement-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 18px;
  column-gap: 20px;
}

.hebergement-cards > * {
  width: 30%;
}

.hebergement-cards .card {
  align-items: center;
  justify-content: space-between;
  flex: 1 0 calc(33.33% - 20px);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.hebergement-cards .card-content {
  width: 100%;
  padding-bottom: 8px;
  padding-left: 15px;
  margin-left: -5px;
}

.hebergement-cards img {
  height: 130px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
}

.hebergement-cards .card-subtitle {
  margin-top: 10px;
  margin-bottom: 8px;
}

.hebergement-cards .card-content p {
  margin: 5px 0px 5px 0px;
}

.hebergement-cards .card-content h3 {
  margin: 5px 0px 0px 0px;
}

.hebergement-cards .card-title {
  margin-left: 0px;
}

.hebergements .card {
  width: 100%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 5px 0px 5px 5px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
  margin-top: 70px;
}

.activites h2 {
  margin-left: 20px;
}

.activites .activites-cards {
  display: flex;
  justify-content: space-between;
}

.activites .activites-cards .card {
  display: flex;

  align-items: center;
  justify-items: space-between;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.activites-cards img {
  width: 100%;
  height: 420px;
}

.activites-cards .card .card-content {
  display: block;
  align-self: flex-start;
  margin-left: 20px;
}

#imgfort {
  width: 100%;
  object-fit: cover;

  min-width: 24%;
}

.activites-cards > a {
  height: 550.2px;

  width: 23%;
}

footer {
  display: flex;
  justify-content: flex-start;
  gap: 280px;
  background-color: #d9d9d9;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
footer .assistance {
  padding-right: 80px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  list-style-type: none;
  padding: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .button-magnifying-glass {
        display: none;
      }
  .filtres {
    display: flex;
    flex-direction: column;
  }
  .filtres h3 {
    align-self: flex-start;
    margin-bottom: 0px;
  }

  .filtres .boutonfiltre {
    align-self: flex-start;
  }

  .filtres .boutonfiltre button {
    margin-top: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .activites-cards {
    max-height: 350px;
  }

  .activites-cards > a {
    width: 23%;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .hebergement-cards > * {
    width: 30%;
  }

  .activites .card-content {
    height: 82px;
    align-items: center;
  }

  .activites-cards .card .card-content {
    margin-left: 8%;
  }
  .activites .activites-cards img {
    max-height: 220px;
  }
  .activites .activites-cards #imgfort {
    min-width: 24%;
    object-fit: cover;
  }

  footer {
    gap: 70px;
  }
  footer > * {
    width: 30%;
  }

  footer ul {
    margin: 0px;
  }

  footer .apropos {
    padding-right: 0px;
  }
  footer .assistance {
    padding: 0px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  .main-container {
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0px 30px 0px;
  }

  header nav {
    display: flex;
    width: 100%;
    margin: 0px;
  }

  nav ul {
    display: flex;
    width: 100%;
    padding: 0px;
  }

  nav li {
    display: flex;
    padding-bottom: 15px;
    flex: 1;
    border-bottom: 2px solid #f2f2f2;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }
  nav li:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }

  .lihebergements {
    text-align: center;
  }

  .liactivités {
    text-align: center;
  }

  .recherchefiltre {
    padding: 20px;
    padding-bottom: 8px;
  }

  .searchbar {
    width: 100%;
  }

  #recherche {
    width: 200px;
  }

  .button-magnifying-glass {
    display: block;
    border-radius: 10px;
    margin-left: -15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

  .bouttonrecherche {
    display: none;
  }
  .recherchefiltre h1 {
    font-size: 1.3em;
    padding-right: 10px;
  }

  .boutonfiltre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .filtres button {
    font-size: 80%;
    width: 45%;
    height: 45px;
    align-items: flex-start;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }


  .hebergements-and-populaires {
    flex-direction: column-reverse;
    display: flex;
  }

  .hebergements-and-populaires .populaires {
    border-radius: 0px;
    margin-top: 0;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .hebergements-and-populaires .hebergements {
    background-color: transparent;
  }

  .hebergement-cards > * {
    width: 100%;
  }

  .afficherplus {
    margin: 0px;
  }

  .afficherplus h3 {
    margin: 0px;
  }

  .activites h2 {
    font-size: 120%;
  }

  .activites-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;
    gap: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
margin-bottom: 80px;
  }
  .activites-cards > a{
    height: fit-content;
  }

  .activites-cards img {
    height: 150px;
  }

  .activites-cards a {
    width: 80%;
    jus
  }

  .activites .card-content {
    height: auto;
  }

  .activites .card-content h3 {
    font-size: 90%;
  }
  footer {
    flex-direction: column;
    gap: 20px;
  }

  footer > *{
    width: 90%;
  }
}
